<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<title>本の一覧</title>
</head>
<body>
<h2>本の一覧</h2>
<table>
<tr><th>ID</th><th>書籍名</th><th>所有者名</th><th>総数</th><th>在庫</th></tr>
<% for( let row of data ) { %>
<tr><td><%= row.id %></td>
    <td><%= row.book_name %></td>
    <td><%= row.user_name %></td>
    <td><%= row.total %></td>
    <td><%= row.current %></td>
</tr>
<% } %>
</table>
</body>
</html>